# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
book_scraping_pipeline/

/data
*.json
